.filter {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    margin-bottom: 16px;
    overflow-y: auto;
}
input[type="text"].MuiInputBase-input {
    overflow-y: hidden in !important;
}

